/ ----------------------- COMIENZO DEL CUERPO ----------------
%section.container.margen_t-b
  .row
    .col-xs-12.col-sm-6.col-md-4.col-sm-offset-6.col-md-offset-4
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group
          = f.label :email, "Nombre de Usuario (Correo Electrónico):", :class => "tama_11"
          %br/
          = f.email_field :email, autofocus: true, :class => "trim form-control"
        .form-group
          = f.label :password, "Contraseña:", :class => "tama_11"
          %br/
          = f.password_field :password, autocomplete: "off", :class => "trim form-control", :placeholder => "Escriba aqui su clave actual", :pattern => ".{6,15}", |
            :oninvalid => "setCustomValidity('El campo debe tener entre 6 y 15 caracteres')", :oninput => "setCustomValidity('')"                                  |
        - if devise_mapping.rememberable?
          .form-group
            = f.check_box :remember_me
            = f.label :remember_me, "Mantener sesión iniciada", :class => "tama_11"
        %hr/
        .text-center
          = f.submit "Ingresar", :class => "btn boton-verde"
      = render "devise/shared/links"
/
  <h2>Log in</h2>
  
  <haml_loud> form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| </haml_loud><haml_block>
  <div class="field">
  <haml_loud> f.label :email </haml_loud><br />
  <haml_loud> f.email_field :email, autofocus: true </haml_loud>
  </div>
  
  <div class="field">
  <haml_loud> f.label :password </haml_loud><br />
  <haml_loud> f.password_field :password, autocomplete: &quot;off&quot; </haml_loud>
  </div>
  
  <haml_silent>   if devise_mapping.rememberable?
  </haml_silent><haml_block>    <div class="field">
  <haml_loud> f.check_box :remember_me </haml_loud>
  <haml_loud> f.label :remember_me </haml_loud>
  </div>
  </haml_block>
  <div class="actions">
  <haml_loud> f.submit &quot;Log in&quot; </haml_loud>
  </div>
  </haml_block>
  <haml_loud> render &quot;devise/shared/links&quot; </haml_loud>
